.bodyContainer {
  height: calc(100vh - 60px);
}
.displayFlexCont {
  display: block;
}
.bodyContainer .bodyMain {
  width: 100%;
  margin-left: 0;
  height: calc(100vh - 60px);
}
.bodyMain {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.bodyMain .imageUser {
  height: calc(65vh - 60px - 20px);
  width: 20%;
  margin-right: 10px;
}
.bodyMain .personalInformation {
  /* height: calc(100vh - 60px - 20px); */
  width: 40%;
  margin-right: 10px;
}
.bodyMain .orderDetails {
  /* height: calc(100vh - 60px - 20px); */
  width: 40%;
}
.imageUser {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.imageCntUser {
  height: 15rem;
  width: 15rem;
  background-color: #254880;
  border-radius: 50%;
}
.imageText {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  margin-top: 50px;
  display: flex;
  justify-content: center;

  flex-direction: column;
}

.personalInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formEdit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
}
.addressSet {
  height: 6rem;
  width: 100%;
  border: 1px dotted #9b9b9b;
  margin-top: 5px;
  border-radius: 2px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 5px;
}
.addressSet .inst {
  font-size: 10px;
  padding: 5px;
  background-color: #ddd;
  height: 25px;
  width: 40px;
  border-radius: 2px;
  margin-bottom: 5px;
}
.addressSet .comp {
  font-size: 12px;
}
.orderDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.personHeading {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}

.formEdit .inputStyle {
  height: 2rem;
  width: 45%;
  border: 1px solid rgb(216, 216, 216);
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 15px;
  border-radius: 2px;
  background-color: #f8f8f8;
  margin-right: 20px;
}
.formEdit .inputStyle.fullSize {
  width: 95%;
}
.btnsave {
  width: 25%;
  height: 30px;
  background: #009126;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
}
.width100 {
  width: 100%;
  height: 100%;
}
.singleItemOrder {
  background-color: #f0f0ff;
  color: #000;
  margin-bottom: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  border-radius: 2px;
}
.singleItemOrder .imageSingle {
  height: 100px;
  width: 15%;
  padding: 5px;
  margin-left: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.singleItemOrder .imageSingle > img {
  height: 100%;
}
.singleItemOrder .singleContent {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 85%;
  padding-left: 5px;
  margin-right: 10px;
}
.singleName {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.singleItemOrder .status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  width: 15%;
  height: 85%;
  margin-right: 10px;
}
.statusDate {
  font-size: 15px;
}
.statusDilevered {
  color: #009126;
}
.statusPending {
  color: #ff0000;
}
.singleContent .priceDesc {
  display: flex;
  align-items: center;
}
.singleContent .priceDesc > h3 {
  margin-right: 10px;
  margin-left: 10px;
}
